/* Topografias */
@font-face {
  font-family: "brotherRegular";
  src: url("/fonts/Brother1816Printed-Book.woff2");
}

@font-face {
  font-family: "brotherBold";
  src: url("/fonts/Brother1816Printed-Bold.woff2");
}

* {
  margin: 0;
  padding: 0;
}
/* Cuerpo */
body {
  background-color: #566a6a;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.container {
  background-color: #d0d5cf;
  height: 3491px;
  width: 130vh;
  max-width: 1920px;
  max-height: 1300px;
  align-items: center;
  box-sizing: border-box;
}

/* Header */
header {
  background-image: url("/img/banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
}

/* navbar */
nav {
  background-color: #f0f7ff;
  display: flex;
  justify-content: space-between;
  padding-right: 12px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  margin-top: 12px;
}

li {
  float: right;
  font-family: brotherRegular;
}

#Logo {
  float: left;
  font-family: brotherBold;
  margin-left: 10px;
  font-size: 25px;
  margin-top: 10px;
}

#subscribe {
  border: 1px solid;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* Sección de Titulos del header */
#Titulo {
  display: flex;
  justify-content: center;
  font-family: brotherBold;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
}

#subtitulo {
  display: flex;
  justify-content: center;
  text-align: center;
}

#separador {
  height: 1px;
  color: #000;
  background-color: #000;
  width: 10%;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

#tituloArticles {
  display: flex;
  padding-top: 80px;
  font-family: brotherRegular;
  justify-content: center;
}

/* Cards */
.articles {
  display: flex;
  margin-top: 50px;
  width: 30%;
  padding-bottom: 10px;
  padding-left: 60px;
}

.section_cartas {
  display: grid;
  margin: 0 auto;
  padding: 0 20px;
  grid-row-gap: 15px;
  grid-template-columns: 200px 200px 200px 200px;
  grid-column-gap: 50px;
  text-align: center;
}

.card1 {
  background-color: #f0f7ff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 55vh;
}

/* Tamaño imagen */
img {
  width: 100%;
}

/* Linea separadora */
#separador_card {
  margin-bottom: 20px;
  height: 1px;
  color: #000;
  background-color: #000;
  width: 10%;
  display: flex;
  margin-left: 80px;
}

/* Parráfo */
figcaption {
  color: black;
  padding: 8px;
  text-align: center;
  height: 20vh;
  margin-top: 40px;
}

figcaption p {
  font-family: brotherRegular;
  text-align: center;
}

/* Card 2 */
.card2 {
  background-color: #f0f7ff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 55vh;
}

.card3 {
  background-color: #f0f7ff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 55vh;
}

/* Seccion About */
#about {
  background-color: #f1f1f1;
  display: flex;
  margin-top: 50px;
  height: 51vh;
}

.imageAbout {
  background-image: url('/img/Article.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.TextoAbout {
  padding-top: 40px;
  justify-content: center;
  text-align: center;
  float: left;
}

#tituloAbout{
  font-family: brotherBold;
  margin-left: 30px;
}

#separador_about {
  color: #000;
  background-color: #000;
  border-color: #000;
  width: 50px;
  height: 2px;
  border-radius: 10px;
  margin-left: 250px;
  margin-top: 20px;
}

.parrafo_about {
  padding-right: 50px;
  margin-top: 60px;
  margin-left: 20px;
  text-align: justify;
  justify-content: center;
  text-align: center;
  font-family: brotherRegular;
}

/* Seccion Contacto */
.subscribe {
  background-color: #d7dbd6;
  display: flex;
  height: 51vh;
  justify-content: center;
  text-align: center;
  font-family: brotherRegular;
}

.textoContacto {
  padding-top: 80px;
}

#TituloSubscribe {
  padding-bottom: 12px;
  font-family: brotherBold;
}

#Correo {
  margin-top: 20px;
  height: 30px;
  width: 120%;
}

#boton {
  margin-top: 30px;
  padding: 14px 40px;
  background-color: #d7dbd6;
}

/* Seccion footer */
.footer {
  background-color: #f1f1f1;
  height: 30vh;
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.rdss {
  display: flex;
  width: 30px;
  padding: 30px;
}

.rdss img {
  padding: 5px;
}
